build/
.deps
.libs
*.o
*.obj
*.so
*.dll
*.exe
*.out
*.swp
.DS_Store
*.lo
*.la
Makefile
shout-config
libtool
stamp-h1
shout.pc
examples/example
examples/nonblocking
include/shout/shout.h
config.h
config.log
config.status

